body{
    background-color: aquamarine;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
main{
    margin: 50px 100px 0px 100px;
}
#geral{
    display: flex;
    align-items: center;
}
img{
    width: 350px;
    border-radius: 150px;
}
#nome{
    margin-left: 150px;
}
#idade{
    margin-left: 150px;
}
#local{
    margin-left: 150px;
}
section section{
    display: inline-block;
    width: 30%;
}
.texto{
    color:blueviolet;
}
